<div>Hint: Login with username: NiharTest1 and Password: password</div>
<h3>Sing In</h3>
<form (ngSubmit)="onSubmit()" action="" class="ui form" [formGroup]="authForm">
    <app-input inputType="text" lable="Username" [control]="authForm.controls.username"></app-input>
    <app-input inputType="password" lable="Password" [control]="authForm.controls.password"></app-input>

    <div *ngIf="authForm.errors" class="ui basic red label">
        <p *ngIf="authForm.errors?.['credentials']">
            Invalid username or password
        </p>
    </div>

    <div>
        <button class="ui submit button primary" [disabled]="this.authForm.invalid">Submit</button>
    </div>
</form>
